MONGO_URI=mongodb+srv://manyastrievegrid_db_user:YOUR_PASSWORD@cluster0.aadpowd.mongodb.net/kruthanya?retryWrites=true&w=majority

JWT_SECRET=123456
JWT_EXPIRE=7d

RAZORPAY_KEY_ID=dummy
RAZORPAY_SECRET=dummy

EMAIL_SERVICE=gmail
EMAIL_USER=dummy@gmail.com
EMAIL_PASSWORD=dummy

PORT=5000
NODE_ENV=production
FRONTEND_URL=http://localhost:3000